.footer {
    margin-top: 50px;
    border-top-width: 3px;
    border-top-color: var(--dark);
    border-top-style: solid;
    padding: 5px;
}

.social-media-list {
    color: var(--dark);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  
li {
    color: var(--dark);
    list-style: none;
    text-decoration: none;
    margin: 5px;
  }
  
a {
    color: var(--dark);
    list-style: none;
    text-decoration: none;
  }

  