.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* this will distribute the content evenly between the logo-section and the right-section */
    align-items: center;
  }

.logo-section {
    display: flex;
    align-items: center;
    Margin-top: 10px;
}

.logo {
    height: 60px;
}

.logo-h {
    color: var(--dark);
    font-family: var(--h-font);
    font-size: 40px;
}

.cart-section {
    display: flex;
    align-items: center; /* this will vertically center the text and any other elements in the sections */
}

.login-section {
    justify-content: flex-end;
    align-items: right;
    font-family: var(--b-font);
    text-decoration: none;
    font-size: 25px;
    color: var(--dark);
}


a {
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

.cart-items {
    font-family: var(--b-font);
    font-size: 25px;
}