.header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.logo-section {
    display: flex;
    align-items: center;
    Margin-top: 10px;
}

.logo-section:hover{
        cursor: pointer;
}

.logo {
    height: 60px;
}

.logo-h {
    color: var(--dark);
    font-family: var(--h-font);
    font-size: 40px;
}

.cart-section {
    display: flex;
    flex-direction: row-reverse;
    color: var(--dark);
}

.login-section {
    display: flex;
    flex-direction: row-reverse;
    font-family: var(--b-font);
    text-decoration: none;
    font-size: 25px;
    color: var(--dark);
}


a {
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

.cart-items {
    font-family: var(--b-font);
    font-size: 25px;
}

@media screen and (max-width: 768px) {
   
    .logo-h {
        font-size: 25px;
    }
}